*{
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background: #f2f2f2;
}
h2{
    text-align: center;
}

.header header {
background: white;
display: flex;
align-items: center;
justify-content: space-between;
height: 80px;
padding: 0 30px;
position: fixed;
width: 100%;
box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.01);
z-index: 100;
}

.header header .logo{
margin-top: 40px;
margin-bottom: 40px;
}

.header .dropdown-content {
display: none;
position: absolute;
background-color: #a47c73;
box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
z-index: 1;
}

.header .dropdown-content a {
color: #fff;
padding: 12px 16px;
display: block;
text-decoration: none;
}

.header .dropdown:hover .dropdown-content {
display: block;
}

.header .dropdown-content a:hover {
background-color: #613b1d; 
color: white; 
}

.header nav {
display: flex;
gap: 30px;
align-items: center;
}

.header nav ul {
list-style-type: none;
margin: 0;
padding: 0;
display: flex;
}

.header nav ul li {
margin-right: 20px;
}

.header nav ul li a {
text-decoration: none;
color: #a47c73;
}

.header nav a {
text-decoration: none;
color: #a47c73;
font-size: 15px;
font-weight: bold;
transition: 0.3s;
}
.header nav a:hover {
color: #613b1d;
}

.header nav ul{
margin-top: 15px;
}

.header nav ul span{
background-color: #a47c73;
color: #fff;
border-radius: 10px;
padding: 10px;
}

.header input {
display: none;
}

@media (max-width: 768px) {
nav {
position: absolute;
top: 100px;
background: white;
left: 0;
flex-direction: column;
width: 100%;
align-items: center;
height: 0;
transition: 0.5s;
overflow: hidden;
}
nav a:nth-child(1) {
margin-top: 50px;
}

label {
width: 25px;
height: 15px;
position: relative;
}
label div {
width: 100%;
height: 5px;
background: #a47c73;
position: absolute;
transform: translateY(-50%);
border-radius: 99px;
transition: 0.3s;
transform: scale(1);
}
label div:nth-child(1) {
top: 0;
}
label div:nth-child(2) {
top: 50%;
}
label div:nth-child(3) {
top: 100%;
}

input:checked + header nav {
height: 100vh;
}
input:checked + header label div:nth-child(1) {
transform: rotate(45deg);
top: 50%;
}
input:checked + header label div:nth-child(3) {
transform: rotate(-45deg);
top: 50%;
}
input:checked + header label div:nth-child(2) {
transform: scale(0);
opacity: 0;
}
footer{
bottom: unset;
}
.col{
flex-basis: 25%;
}
.col:nth-child(2){
flex-basis: 30%;
}
}


.banner{
    background-image: url("https://www.nutraingredients.com/var/wrbm_gb_food_pharma/storage/images/_aliases/promo_feature_cover/publications/food-beverage-nutrition/nutraingredients.com/news/promotional-features/protect-active-ingredients-and-increase-bioavailability-and-stability-for-best-skincare-results/15921476-2-eng-GB/Protect-active-ingredients-and-increase-bioavailability-and-stability-for-best-skincare-results.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    top: 100px;
    width: 100%;
    height: 40vh;
    position: fixed;
}

.banner::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: #21130d;
    opacity: .5;
    z-index: -1;
}

.banner h2{
    padding-top: 8%;
    font-size: 25px;
    color: #fff;
}

footer{
    width: 100%;
    position: relative;
    right: 0;
    left: 0;
    bottom: 0;
    background: #fff;
    color: #613b1d;
    padding: 30px 0 30px;
    font-size: 12px;
    line-height: 20px;
}

.social-links{
    text-align: center;
}

.social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    color: #613b1d;
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border: 1px solid #613b1d;
    border-radius: 50%;
    transition: all 0.3s ease;
}

.social-links a:hover{
    color: #fff;
    background-color: #613b1d;
}

.skinneeds{
    padding: 20px;
    margin-top: 10px;
    text-align: center;
    background-color: #a47c73;
    color: #fff;
}

.skinneeds p{
    font-size: 16px;
}

.skinneeds a{
    color: #fff;
    font-size: 14px;
}

.skinneeds a:hover{
    color: #4b312c;
}

.skinneeds span{
    font-size: 12px;
    color: #4b312c;
    font-weight: bolder;
}

.row{
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

.col{
    flex-basis: 25%;
    padding: 10px;
}

.col:nth-child(2){
    flex-basis: 30%;
}

.col h3{
    width: fit-content;
    position: relative;
}

.col ul li{
    list-style: none;
    margin-bottom: 5px;
}

.col ul li a{
    text-decoration: none;
    color: #613b1d;
}


.email-id{
    width: fit-content;
    margin: 10px 0;
}

.email-id a{
    color: #613b1d;
}

.phn{
    text-align: left;
}

.phn a{
    font-size: 12px;
    text-decoration: none;
    color: #613b1d;
}

.phn a:hover{
    color: #a47c73;
}


.logo{
    margin-top: 40px;
    width: 80px;
    margin-bottom: 40px;
}

hr{
    width: 95%;
    border: 0;
    border-bottom: 1px solid #a47c73;
    margin: 20px auto;
}

.copyright{
    text-align: center;
}

.underline{
    width: 100%;
    height: 2px;
    background: #a47c73;
    border-radius: 3px;
    position: absolute;
    top: 25px;
    left: 0;
}


.content{
    text-align: center;
    width: 95%;
    height: 95%;
    position: relative;
    background: white;
    margin: auto;
    margin-bottom: 2rem;
    padding: 30px;
    border: none;
    outline: none;
    border-radius: 10px;
    color: #a47c73;
    top: 270px;
    font-size: 16px;
}

.content label{
    font-weight: bolder;
    font-size: 20px;
}

.content select{
    outline: none;
    cursor: pointer;
    color: #a47c73;
    border: 2px solid #a47c73;
    border-radius: 5px;
    padding: 3px 10px;
    width: 200px;
    height: 40px;
    text-align: center;
    margin-top: 10px;
}

.content select option{
    background-color: #a47c73;
    color: #fff;
}

.content input[type="radio"]{
    accent-color: #4b312c;
    margin-top: 10px;
    margin-bottom: 5px;
}

.content input[type="submit"]{
    text-transform: uppercase;
    font-weight: bolder;
    appearance: none;
    cursor: pointer;
    color: #fff;
    background-color: #a47c73;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    padding: 5px 10px;
    width: 200px;
    height: 40px;
    text-align: center;
}

.content input[type="range"]{
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
    width: 300px;
    margin-top: 10px;
}

.content input[type="range"]:focus {
   outline: none;
 }

.content input[type=range]::-webkit-slider-runnable-track {
    background: #fff;
    border-radius: 25px;
    border: 2px solid #a47c73;
    height: 0.5rem;
 }

.content input[type="range"]::-webkit-slider-thumb {
   -webkit-appearance: none;
    appearance: none;
    margin-top: -5px;
    background-color: #4b312c;
    height: 1rem;
    width: 1rem;
 }
 
.content input[type="range"]:focus::-webkit-slider-thumb {   
   border: 1px solid #4b312c;
   outline: 2px solid #4b312c;
   outline-offset: 0.125rem; 
 }

.content input[type="range"]::-moz-range-track {
    background-color: #fff;
    border: 2px solid #a47c73;
    border-radius: 25px;
    height: 0.5rem;
 }

.content input[type="range"]::-moz-range-thumb {
    border: none;
    border-radius: 0; 
    background-color: #4b312c;
    height: 1rem;
    width: 1rem;
 }
 
.content input[type="range"]:focus::-moz-range-thumb {
   border: 1px solid #4b312c;
   outline: 2px solid #4b312c;
   outline-offset: 0.125rem; 
 }
 

.content .slider{
    width: 300px;
    margin: 0;
}

datalist {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    writing-mode: vertical-lr;
    width: 300px;
    margin: auto;
  }
  
datalist option {
    padding: 0;
  }

  